<!DOCTYPE html>
<html lang="en">
<script async="" src="researchservicescatalog2_files/djf35rrbni"></script>
<script type="text/javascript" async="" src="researchservicescatalog2_files/js"></script>
<script async="" src="researchservicescatalog2_files/gtm.js"></script>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>AWS S3 Storage | IT Division | SDSU</title>
	<link rel="canonical" href="https://it.sdsu.edu/apps-software">
	<link rel="apple-touch-icon" sizes="180x180"
		href="https://ou-resources.sdsu.edu/crimson/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32"
		href="https://ou-resources.sdsu.edu/crimson/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16"
		href="https://ou-resources.sdsu.edu/crimson/icons/favicon-16x16.png">
	<link rel="mask-icon" href="https://ou-resources.sdsu.edu/crimson/safari-pinned-tab.svg" color="#a6192e">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<script>
		var OUC = OUC || {};
		OUC.globalProps = OUC.globalProps || {};
		OUC.pageProps = OUC.pageProps || {};
		OUC.props = OUC.props || {};


		OUC.globalProps['path'] = "/apps-software/index.aspx";

		OUC.globalProps['domain'] = "https://it.sdsu.edu";

		OUC.globalProps['index-file'] = "index";

		OUC.globalProps['extension'] = "aspx";

		OUC.pageProps['heading'] = "Apps and Software List";

		OUC.pageProps['banner-content'] = "default";

		OUC.pageProps['chevron-color'] = "";

		OUC.pageProps['dark-overlay'] = "";

		OUC.pageProps['hero-image'] = "";

		OUC.pageProps['hero-image-x'] = "";

		OUC.pageProps['hero-image-y'] = "";

		OUC.pageProps['hero-video'] = "";

		OUC.pageProps['intro'] = "";

		OUC.pageProps['content-regions'] = "region-1 region-2 region-3 region-4 region-5 region-6 region-7 region-8 region-9 region-10";

		OUC.pageProps['pre-footer'] = "";

		OUC.pageProps['override-og-type'] = "";

		OUC.pageProps['override-og-image'] = "/_resources/images/homepage/faculty-square.png";

		OUC.pageProps['override-og-image-alt'] = "Faculty reviewing research";

		OUC.pageProps['override-og-description'] = "";

		OUC.pageProps['override-twitter-card-description'] = "";

		OUC.pageProps['override-twitter-card-image'] = "";

		OUC.pageProps['override-twitter-card-image-alt'] = "";

		OUC.pageProps['override-twitter-card-type'] = "summary_large_image";

		OUC.pageProps['robots'] = "";

		OUC.pageProps['redirect-type'] = "";

		OUC.pageProps['redirect-destination'] = "";


		var key;
		for (key in OUC.globalProps) {
			OUC.props[key] = OUC.globalProps[key];
		}
		for (key in OUC.pageProps) {
			OUC.props[key] = OUC.pageProps[key];
		}
	</script>
	<link rel="stylesheet" href="researchservicescatalog2_files/all.css"><!-- OU Search Ignore Start Here -->
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-P5224TD');</script>
	<!-- OU Search Ignore End Here --><!-- OU Search Ignore Start Here --><!-- OU Search Ignore End Here --><!-- OU Search Ignore Start Here -->
	<link rel="stylesheet" href="researchservicescatalog2_files/vfx4zws.css">
	<link rel="stylesheet" href="researchservicescatalog2_files/slick.min.css">
	<link rel="stylesheet" href="researchservicescatalog2_files/main.min.css">
	<link rel="stylesheet" href="researchservicescatalog2_files/custom.css">
	<link rel="stylesheet" href="researchservicescatalog2_files/oustyles.css">
	<link href="researchservicescatalog2_files/alerts-config.alerts.css" rel="stylesheet">
	<!-- OU Search Ignore End Here --><!-- OU Search Ignore Start Here -->
	<link rel="stylesheet" href="researchservicescatalog2_files/local.css">
	<!-- OU Search Ignore End Here -->
	<link rel="stylesheet" href="researchservicescatalog2_files/isotope.css">
	<style>
		.page-intro {
			margin-bottom: 0px;
		}

		@media screen and (min-width: 1025px) {
			.page-intro {
				margin-bottom: 0px;
			}
		}

		.filter-region {
			padding: 35px;
			background-color: #a6192e;
			margin-bottom: 50px;
		}

		@media screen and (min-width: 1025px) {
			.filter-region .container {
				max-width: 950px;
			}
		}

		.filter-region h2 {
			color: #ffffff;
		}

		.filter-region .button {
			background: none;
			background-image: none;
			color: #ffffff;
			text-shadow: none;
			transition: .5s;
		}

		.filter-region .button:hover {
			background-color: #ffffff;
			color: #a6192e;
		}

		.category h2 {
			text-transform: none;
			float: left;
			clear: left;
			width: 100%;
			margin-top: 20px;
			margin-bottom: 0px;
		}

		.category .filters-select {
			float: left;
			clear: left;
			margin-top: 20px;
		}

		.filter-region .filters-select {
			color: #ffffff;
			border: 1px solid #ffffff;
			padding-left: 1em;
			font-size: 16px;
		}

		.form__label {
			margin-top: 15px;
		}

		.heading-table select {
			height: 36px;
			padding-bottom: 0px;
		}

		.heading-table .filter-box:after {
			right: 10px;
			bottom: 15px;
		}

		.heading-table select option {
			background: #a6192e;
			color: #ffffff;
		}



		.isotope-blocks {
			display: block;
			height: 2450px;
			margin-bottom: 50px;
		}

		@media (min-width: 700px) {
			.isotope-blocks .container {
				max-width: 950px;
			}
		}

		.element-item {
			background: #f2f2f2;
			border: 1px solid #000000;
		}

		.element-item a {
			color: #000000;
			transition: .5s;
		}

		.element-item a:hover {
			color: #a6192e;
		}

		.element-item .number {
			position: absolute;
			left: 145px;
			top: 10px;
		}

		.element-item .number::before {
			content: none;
		}

		.button-group .button {
			margin-top: 10px;
			float: none;
		}

		th[scope=col], th[scope=row], td {
			border: 2px solid black;
			text-align:center;
		}



	</style>
	<meta property="og:image" content="https://it.sdsu.edu/_resources/images/homepage/faculty-square.png">
	<meta property="og:image:alt" content="Faculty reviewing research">
	<meta property="og:title" content="AWS S3 Storage | IT Division | SDSU">
	<meta property="og:url" content="https://it.sdsu.edu/apps-software">
	<meta property="og:description" content="">
	<meta property="og:type" content="">
	<meta property="og:updated_time" content="2024-09-18T02:19:33.838811766-07:00">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" content="https://it.sdsu.edu/apps-software">
	<meta name="twitter:title" content="AWS S3 Storage | IT Division | SDSU">
	<meta name="twitter:description" content="">
	<script>
		var COMMENT_PAGE_URL = "https://it.sdsu.edu/apps-software";
		var COMMENT_PAGE_IDENTIFIER = "27da863a-44da-448d-82d0-b363b77f727b";
	</script>
</head>

<body><!-- OU Search Ignore Start Here -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5224TD" title="Google Tag Manager"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- OU Search Ignore End Here -->
	<div class="wrapper">
		<!-- OU Search Ignore Start Here --><!-- OU Search Ignore End Here --><!-- OU Search Ignore Start Here --><!-- OU Search Ignore End Here --><!-- OU Search Ignore Start Here --><!-- OU Search Ignore End Here -->
		<header class="header scrolled"><a href="#main" class="skip-link visually-hidden">Skip to content</a>
			<div class="header__wrapper"><!-- OU Search Ignore Start Here -->
				<div class="header__holder">
					<div class="logo"><a href="https://www.sdsu.edu/"><img src="researchservicescatalog2_files/logo.png"
								alt="San Diego State University" height="60" width="257"></a></div>
					<div class="nav-block">
						<nav class="add-nav">
							<ul>
								<li><a href="https://status.sdsu.edu/">System Status</a></li>
								<li><a href="https://my.sdsu.edu/">my.SDSU</a></li>
								<li><a href="https://it.sdsu.edu/get-help">Get Help</a></li>
							</ul>
						</nav>
						<div class="search-block"><button type="button" aria-expanded="false"
								class="search-opener">open</button>
							<form action="https://www.sdsu.edu/search" method="get" class="search-form" role="search">
								<label class="sr-only" for="nav-search">search</label><input type="search" name="query"
									id="nav-search" placeholder="Search" aria-hidden="true"><button
									type="submit">submit</button>
							</form><span class="overlay"></span>
						</div>
						<div class="nav-block__holder"><button type="button" aria-expanded="false"
								class="nav-opener">Menu<span class="nav-opener__icon"><span></span></span></button>
							<div class="nav-block__wrapper" aria-hidden="true">
								<div class="nav-block__wrapper-holder">
									<nav class="site-menu">
										<ul>
											<li><button type="button" class="site-menu-opener"
													aria-expanded="false">About IT</button>
												<ul aria-hidden="true">
													<li><a href="https://it.sdsu.edu/about">About IT</a></li>
													<li><a href="https://it.sdsu.edu/about/awards">Awards</a></li>
													<li><a href="https://it.sdsu.edu/about/diversity-equity-inclusion">Diversity,
															Equity &amp; Inclusion</a></li>
													<li><a href="https://it.sdsu.edu/about/oneit-community">OneIT
															Community</a></li>
													<li><a href="https://it.sdsu.edu/about/organizational-chart">Organizational
															Chart</a></li>
													<li><a href="https://it.sdsu.edu/about/policies-procedures">Policies
															&amp; Procedures</a></li>
													<li><a href="https://it.sdsu.edu/about/governance">IT Governance</a>
													</li>
												</ul>
											</li>
											<li><button type="button" class="site-menu-opener"
													aria-expanded="false">Apps &amp; Software</button>
												<ul aria-hidden="true">
													<li><a href="https://it.sdsu.edu/apps-software">Apps &amp;
															Software</a></li>
												</ul>
											</li>
											<li><button type="button" class="site-menu-opener"
													aria-expanded="false">Classrooms &amp; Labs</button>
												<ul aria-hidden="true">
													<li><a href="https://it.sdsu.edu/classrooms-labs">Classrooms &amp;
															Labs</a></li>
													<li><a
															href="https://it.sdsu.edu/classrooms-labs/connected-classrooms">Connected
															Classrooms</a></li>
													<li><a href="https://it.sdsu.edu/classrooms-labs/learning-glass">Learning
															Glass</a></li>
													<li><a
															href="https://it.sdsu.edu/classrooms-labs/learning-research-studios">Learning
															Research Studios</a></li>
													<li><a
															href="https://it.sdsu.edu/classrooms-labs/lrs-policies-procedures">LRS
															Policies and Procedures</a></li>
												</ul>
											</li>
											<li><button type="button" class="site-menu-opener" aria-expanded="false">Get
													Help</button>
												<ul aria-hidden="true">
													<li><a href="https://it.sdsu.edu/get-help">Get Help</a></li>
													<li><a href="https://it.sdsu.edu/get-help/contacts">IT Support
															Contacts</a></li>
													<li><a href="https://it.sdsu.edu/get-help/training">Training &amp;
															Workshops</a></li>
													<li><a href="https://it.sdsu.edu/get-help/topics">Help Topics</a>
													</li>
												</ul>
											</li>
											<li><button type="button" class="site-menu-opener" aria-expanded="false">Our
													Services</button>
												<ul aria-hidden="true">
													<li><a href="https://it.sdsu.edu/services">Our Services</a></li>
													<li><a href="https://it.sdsu.edu/services/administrative-business">Administrative
															&amp; Business</a></li>
													<li><a href="https://it.sdsu.edu/services/ai">Artificial
															Intelligence</a></li>
													<li><a
															href="https://it.sdsu.edu/services/communication-collaboration">Communication
															&amp; Collaboration</a></li>
													<li><a href="https://it.sdsu.edu/services/desktop-mobile-computing">Desktop
															&amp; Mobile Computing</a></li>
													<li><a href="https://security.sdsu.edu/services/">Information
															Security</a></li>
													<li><a
															href="https://it.sdsu.edu/services/infrastructure">Infrastructure</a>
													</li>
													<li><a href="https://it.sdsu.edu/services/infrastructure">IT
															Professional Services</a></li>
													<li><a href="https://it.sdsu.edu/services/research">Research</a>
													</li>
													<li><a href="https://it.sdsu.edu/services/teaching-learning">Teaching
															&amp; Learning</a></li>
												</ul>
											</li>
											<li><button type="button" class="site-menu-opener"
													aria-expanded="false">Projects &amp; Innovation</button>
												<ul aria-hidden="true">
													<li><a href="https://it.sdsu.edu/projects-innovation">Projects &amp;
															Innovation</a></li>
													<li><a href="https://it.sdsu.edu/projects-innovation/completed">Completed
															Projects</a></li>
												</ul>
											</li>
										</ul>
									</nav>
									<div class="nav-block__container">
										<div class="user-menu">
											<div class="user-menu-header"><button type="button" class="user-menu-opener"
													aria-expanded="false" disabled="disabled">We're Here to
													Help</button></div>
											<ul aria-hidden="true">
												<li><a href="https://status.sdsu.edu/">Systems Status</a></li>
												<li><a href="https://it.sdsu.edu/get-help#students">Student Help</a>
												</li>
												<li><a href="https://it.sdsu.edu/get-help#faculty-staff">Faculty &amp;
														Staff Help</a></li>
												<li><a href="https://it.sdsu.edu/get-help#community">Community Help</a>
												</li>
											</ul>
										</div>
										<div class="university-menu">
											<div class="university-menu-holder">
												<div class="university-menu-container">
													<div class="university-menu-header"><button type="button"
															class="university-menu-opener" aria-expanded="false"
															disabled="disabled">Colleges</button></div>
													<ul>
														<li><a href="https://cal.sdsu.edu/">Arts and Letters</a></li>
														<li><a href="https://business.sdsu.edu/">Fowler College of
																Business</a></li>
														<li><a href="https://education.sdsu.edu/">Education</a></li>
														<li><a href="https://www.engineering.sdsu.edu/">Engineering</a>
														</li>
														<li><a href="https://grad.sdsu.edu/">Graduate Studies</a></li>
														<li><a href="https://chhs.sdsu.edu/">Health and Human
																Services</a></li>
														<li><a href="https://library.sdsu.edu/">SDSU Library</a></li>
														<li><a href="https://psfa.sdsu.edu/">Professional Studies and
																Fine Arts</a></li>
														<li><a href="https://sciences.sdsu.edu/">Sciences</a></li>
														<li><a href="https://honors.sdsu.edu/">Weber Honors College</a>
														</li>
													</ul>
												</div>
												<div class="university-menu-container">
													<div class="university-menu-header"><button type="button"
															class="university-menu-opener" aria-expanded="false"
															disabled="disabled">Other Locations</button></div>
													<ul>
														<li><a href="https://georgia.sdsu.edu/en">SDSU Georgia</a></li>
														<li><a href="https://ces.sdsu.edu/">SDSU Global Campus</a></li>
														<li><a href="https://imperialvalley.sdsu.edu/">SDSU Imperial
																Valley</a></li>
														<li><a href="https://missionvalley.sdsu.edu/">SDSU Mission
																Valley</a></li>
													</ul>
												</div>
											</div>
											<nav class="add-nav">
												<ul>
													<li class="nav-item"><a class="nav-link"
															href="https://status.sdsu.edu/">System Status</a></li>
													<li class="nav-item"><a class="nav-link"
															href="https://my.sdsu.edu/">my.SDSU</a></li>
													<li class="nav-item"><a class="nav-link"
															href="https://it.sdsu.edu/get-help">Get Help</a></li>
												</ul>
											</nav>
											<ul class="social">
												<li class="youtube"><a
														href="https://www.youtube.com/user/SDSUVideo">youtube</a></li>
												<li class="facebook"><a
														href="https://www.facebook.com/SanDiegoState">facebook</a></li>
												<li class="instagram"><a
														href="https://instagram.com/sandiegostateuniversity">instagram</a>
												</li>
												<li class="tiktok"><a
														href="https://www.tiktok.com/@sandiegostateuniversity">tiktok</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- OU Search Ignore End Here -->
				<div class="section-navigation"><button class="section-navigation__opener" aria-expanded="false">In this
						Section</button>
					<ul class="breadcrumbs">
						<li class="breadcrumb-item root"><a href="https://it.sdsu.edu/">Information Technology</a></li>
					</ul>
					<div class="section-navigation__drop" aria-hidden="true">
						<h2>Applications &amp; Software</h2>
						<ul class="test">
							<li><a href="https://it.sdsu.edu/apps-software">Apps &amp; Software List</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>



		<main id="main" class="main">
			<section class="page-intro">
				<div class="container">
					<h1>AWS S3 Storage</h1>
				</div>
			</section>
			<section class="section genimglist">
				<div class="container">
					<div class="section__header genimglist__header">
						<h2>Overview</h2>
					</div>
					<div class="section__intro genimglist__intro">&nbsp;

					</div>
					<div class="genimglist__wrap">
						<div class="genimglist__item">
							<div class="genimglist__img">
								<img src="icons/aws-logo-large.png"
									alt="Illustrative rendering of earth with latitude and longitude">
							</div>
							<div class="genimglist__content">
								
								<div class="genimglist__body">
									<span>Amazon S3 (Simple Storage Service) is a cloud-based object storage service that supports scalable, secure, and high-performance data storage for a wide range of use cases. It offers flexible storage classes, built-in security and compliance features, and automatic scaling to accommodate virtually any volume of data. With high durability, availability, and cost-optimization options, Amazon S3 enables efficient data management and access control for diverse workloads. SDSU faculty can contact the university's IT Division for more information on how to utilize the service's storage capabilities.</span>
								</div>

							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="wysiwyg">
				<div class="container">

					<h2>Eligibility</h2>
					<div class="wysiwyg" style="margin: 0 auto;">
						<div class="table-block">
							<div class="table-block__wrapper">
								<div class="table-block__holder">
									<table>
										<thead>
											<tr>
												<th scope="col">Faculty</th>
												<th scope="col">Staff</th>
												<th scope="col">Students</th>
												<th scope="col">Research Students</th>
												<th scope="col">Emeriti Faculty</th>
												<th scope="col">Emeriti Staff</th>
												<th scope="col">Volunteers</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Yes</td>
												<td>Yes</td>
												<td>No</td>
												<td>Yes</td>
												<td>Yes</td>
												<td>No</td>
												<td>No</td>
											</tr>
										</tbody>
									</table><button class="table-block__prev" aria-hidden="true" tabindex="-1">Scroll
										Right</button>
									<button class="table-block__next" aria-hidden="true" tabindex="-1">Scroll
										Left</button>

								</div>
							</div>
						</div>
					</div>

					<h2>Costs</h2>
					<div class="wysiwyg" style="margin: 0 auto;">
						<div class="table-block">
							<div class="table-block__wrapper">
								<div class="table-block__holder">
									<table>
										<thead>
											<tr>
												<th scope="col">Storage Class</th>
												<th scope="col">Recommended Usage</th>
												<th scope="col">Retrieval Time</th>
												<th scope="col">Approx. Monthly Cost for 1TB</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row">S3 Standard</th>
												<td>Frequently accessed data; general-purpose storage for active content and applications</td>
												<td>Milliseconds</td>
												<td>$23.00</td>
											</tr>
											<tr>
												<th scope="row">S3 Intelligent-Tiering</th>
												<td>Data with unpredictable or changing access patterns; automatic cost optimization without performance impact</td>
												<td>Milliseconds (Frequent/IA); Minutes to hours (Archive tiers, if enabled)</td>
												<td>$23 (Frequent tier); lower for other tiers</td>
											</tr>
											<tr>
												<th scope="row">S3 Standard-IA</th>
												<td>Infrequently accessed data requiring rapid access; suitable for backups and disaster recovery</td>
												<td>Milliseconds</td>
												<td>$12.50</td>
											</tr>
											<tr>
												<th scope="row">S3 One Zone-IA</th>
												<td>Infrequently accessed data that can be recreated if lost; stored in a single Availability Zone</td>
												<td>Milliseconds</td>
												<td>$10.00</td>
											</tr>
											<tr>
												<th scope="row">S3 Glacier Instant Retrieval</th>
												<td>Archive data that needs immediate access; ideal for medical images, news media, and user-generated content archives</td>
												<td>Milliseconds</td>
												<td>$10.00</td>
											</tr>
											<tr>
												<th scope="row">S3 Glacier Flexible Retrieval</th>
												<td>Archive data accessed 1-2 times per year; suitable for backups and disaster recovery</td>
												<td>Expedited: 1-5 minutes; Standard: 3-5 hours; Bulk: 5-12 hours</td>
												<td>$10.00</td>
											</tr>
											<tr>
												<th scope="row">S3 Glacier Deep Archive</th>
												<td>Long-term archive and digital preservation; data accessed less than once a year</td>
												<td>Standard: 12 hours; Bulk: 48 hours</td>
												<td>$10.00</td>
											</tr>
										</tbody>
									</table><button class="table-block__prev" aria-hidden="true" tabindex="-1">Scroll
										Right</button>
									<button class="table-block__next" aria-hidden="true" tabindex="-1">Scroll
										Left</button>

								</div>
							</div>
						</div>

						<p>SDSU's IT Division (ITD) maintains an Amazon Web Services (AWS) enterprise account configured with an AWS landing zone. The landing zone allows ITD to provision new AWS accounts pre-configured with single sign-on (SSO) and secure access.</p>
						<p>AWS costs for AWS accounts are cost recovered by ITD on a quarterly basis from either state or foundation funds. A Memorandum of Understanding (MOU) for Cloud Services it executed between ITD and the requesting department or project.</p>
						<ul>
							<li><a href="https://calculator.aws/#/" target="">AWS Pricing Calculator</a></li>
						</ul>
					</div>

					<h2>Data Classification & Usage Matrix</h2>
					<div class="wsysiwyg" style="margin: 0 auto;">
						<div class="table-block">
							<div class="table-block__wrapper">
								<div class="table-block__holder">
									<table>
										<thead>
											<tr>
												<th scope="col">Data Type</th>
												<th scope="col" style="text-align:center">Deidentified</th>
												<th scope="col">Pl1</th>
												<th scope="col">Pl2</th>
												<th scope="col">Pl3</th>
												<th scope="col">HIPAA</th>
												<th scope="col">PHI</th>
												<th scope="col">HIPAA</th>
												<th scope="col">NIST 800-171</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row">Allowed Type?</th>
												<td>Yes</td>
												<td>Yes</td>
												<td>Yes</td>
												<td>Yes</td>
												<td>Yes</td>
												<td>Yes</td>
												<td>Yes</td>
												<td>Yes</td>
											</tr>
										</tbody>
									</table><button class="table-block__prev" aria-hidden="true" tabindex="-1">Scroll
										Right</button>
									<button class="table-block__next" aria-hidden="true" tabindex="-1">Scroll
										Left</button>
								</div>
							</div>
						</div>
						<ul style="font-size:75%">
							<li><strong>Deidentified</strong> - Data stripped of personally identifiable information (PII) cannot be linked back to an individual.</li>
							<li><strong>PL1 (Protection Level 1)</strong> - Restricted or sensitive data requiring strict access controls and encryption.</li>
							<li><strong>PL2 (Protection Level 2)</strong> - Internal-use data requires some access control but has moderate risk if exposed.</li>
							<li><strong>PL3 (Protection Level 3)</strong> - Low-risk data that is publicly available or does not require access controls.</li>
							<li><strong>HIPAA (Health Insurance Portability and Accountability Act)</strong> - Indicates whether the system adheres to HIPAA regulations for storing, processing, and transmitting healthcare data.</li>
							<li><strong>PHI (Protected Health Information)</strong> - Individually identifiable health information that is not regulated under HIPAA.</li>
							<li><strong>NIST 800-171</strong> - Security requirements for protecting Controlled Unclassified Information (CUI) in non-federal systems.</li>
						</ul>	
					</div>


				</div>
			</section>
			<section class="wysiwyg">
				<div class="container">
					<h2>How Do I Get It?</h2>
					<p>
						To learn more about AWS S3 Storage and how to gain access, please enter a ServiceNow <a href="https://sdsu.service-now.com/sp?id=sc_cat_item&sys_id=97a539211bb825505764fd1b1e4bcb00&sysparm_category=29ac153fdbbf4c9024094672399619e9">Research Cyberinfrastructure Consultation request</a>.
					</p>
				</div>
			</section>
			<section class="wysiwyg">
				<div class="container">
					<h2>How Do I Get Help?</h2>
					<p>
						Please refer to ServiceNow Knowledge Base articles or submit a <a href="https://sdsu.service-now.com/sp?id=sc_cat_item&sys_id=97a539211bb825505764fd1b1e4bcb00&sysparm_category=29ac153fdbbf4c9024094672399619e9">Research Cyberinfrastructure Consultation request</a>.
					</p>
				</div>
			</section>

		</main>

		<!-- OU Search Ignore Start Here -->
		<footer class="footer">
			<div class="footer__contact-block">
				<div class="logo-block">
					<div class="logo"><a href="https://www.sdsu.edu/"><img src="researchservicescatalog2_files/logo.png"
								alt="San Diego State University"></a></div>
					<ul class="social">
						<li><a href="https://www.youtube.com/user/SDSUVideo">youtube</a></li>
						<li class="facebook"><a href="https://www.facebook.com/SanDiegoState">facebook</a></li>
						<li class="instagram"><a href="https://instagram.com/sandiegostateuniversity">instagram</a></li>
						<li class="tiktok"><a href="https://www.tiktok.com/@sandiegostateuniversity">tiktok</a></li>
					</ul>
				</div>
				<div class="nav-block">
					<div class="nav-block__holder nav-block--contact">
						<address><a href="tel:6195945200">619-594-5200</a><br>
							5500 Campanile Drive<br>
							San Diego, CA 92182</address>
						<ul>
							<li><a href="https://map.concept3d.com/?id=801">Maps</a></li>
							<li><a href="https://parking.sdsu.edu/permits">Parking</a></li>
						</ul>
					</div>
					<div class="nav-block__holder nav-block--navigation">
						<ul>
							<li><a href="https://directory.sdsu.edu/">Campus Directory</a></li>
							<li><a href="https://hr.sdsu.edu/careers-at-sdsu">Employment</a></li>
							<li><a href="https://brand.sdsu.edu/stratcomm/media-relations">Media Relations</a></li>
							<li><a href="https://canvas.sdsu.edu/">Canvas</a></li>
						</ul>
					</div>
					<div class="nav-block__holder nav-block--navigation">
						<ul>
							<li><a href="https://www.sdsu.edu/contact">General Contact</a></li>
							<li><a href="https://status.sdsu.edu/">Network Status</a></li>
							<li><a href="https://www.sdsu.edu/strategic-plan">Strategic Plan</a></li>
							<li><a href="https://www.sdsu.edu/newscenter-newsletter-signup">Newsletter</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer__info-block">
				<ul class="doc">
					<li><a href="https://accessibility.sdsu.edu/">Accessibility</a></li>
					<li><a href="https://www.sdsu.edu/document-readers">Document Readers</a></li>
					<li><a href="https://www.sdsu.edu/digital-privacy">Digital Privacy Statement</a></li>
					<li><a href="https://police.sdsu.edu/public-information/clery-act-compliance/annual-reports">Campus
							Safety Reports</a></li>
					<li><a href="https://www.sdsu.edu/institutional-disclosures">Institutional Disclosures</a></li>
					<li><a href="https://sacd.sdsu.edu/student-resources/parenting-students">Student Parent Resource</a>
					</li>
					<li><a href="https://www.sdsu.edu/feedback">Feedback</a></li>
				</ul>
				<div class="copyryght-block"><span class="copyright">© 2025 San Diego State University</span><span>All
						Rights Reserved</span><span id="directedit"><a id="de"
							href="https://a.cms.omniupdate.com/11/?skin=sdsu&amp;account=prod&amp;site=it&amp;action=de&amp;path=/apps-software/index.pcf"
							target="_top">Last Updated 9/18/24</a></span></div>
			</div><button type="button" class="back-to-top">back to top</button>
		</footer><!-- OU Search Ignore End Here -->
	</div><!-- OU Search Ignore Start Here -->
	<script src="researchservicescatalog2_files/jquery-3.6.0.min.js"></script>
	<script src="researchservicescatalog2_files/main.min.js"></script>
	<script src="researchservicescatalog2_files/ouscripts.js"></script>
	<script src="researchservicescatalog2_files/alerts-config.alerts.js"></script>
	<script>
		// archive alert processing
		if (document.getElementById(ouEmergencyAlerts.archivedAlertDivId)) {
			ouEmergencyAlerts.loadAlertFeed("processAlertFeedForArchivePage", "activeAlertFeed", "archiveActiveAlertHeading");
			setTimeout(function () {
				ouEmergencyAlerts.loadAlertFeed("processAlertFeedForArchivePage", "archiveAlertFeed", "archiveAlertHeading");
			}, 200);
		}
		// active alert processing
		ouEmergencyAlerts.determineActiveAlertOutput();
	</script>
	<script type="text/template" id="oualerts-active-announcement">
<div id="oualerts-active-alert-display" role="region" aria-labelledby="alert-title" class="alert alert--minor oualerts-top oualerts-top-fixed ouAlertsFadeInDown oualerts-animated-fast"><!-- oualerts-notify oualerts-notify-announcement -->
	<div class="alert__wrapper"><!-- oualerts-notify-body -->
		<button class="alert__close" id="oualerts-close-button"><span class="visually-hidden">close alert</span></button><!-- oualerts-close-button Close -->
		<div class="alert__content">
			<div class="alert__message">
				{% if (o.showDate) { %}
				<div class="oualerts-notify-date">{%=ouEmergencyAlerts.alertDateFormat("F d, Y h:i A",o.pubDate)%}</div>
				{% } %}
				<div id="alert-title" class="alert__title"><!-- oualerts-notify-title -->
					
					{%=o.title%}
				</div>
				{% if (o.subtitle) { %}
				<p class="oualerts-notify-subtitle"><strong>{%=o.subtitle %}</strong></p>
				{% } %}
				{% if (o.description) { %}
				<div class="alert__description"><!-- oualerts-notify-msg -->
					{%=o.description %}
				</div>
				{% } %}
			</div>
			{% if (o.guid) { %}
			<a href="{%=o.guid %}" class="alert__cta alert_red">Learn More</a><!-- oualerts-notify-link -->
			{% } %}
		</div>
	</div>
</div>

</script>

	<script type="text/template" id="oualerts-active-warning">
<div id="oualerts-active-alert-display" role="region" aria-labelledby="alert-title" class="alert alert--medium oualerts-top oualerts-top-fixed ouAlertsFadeInDown oualerts-animated-fast"><!-- oualerts-notify oualerts-notify-warning -->
	<div class="alert__wrapper"><!-- oualerts-notify-body -->
		<button class="alert__close" id="oualerts-close-button"><span class="visually-hidden">close alert</span></button><!-- oualerts-close-button Close -->
		<div class="alert__content">
			<div class="alert__message">
				{% if (o.showDate) { %}
				<div class="oualerts-notify-date">{%=ouEmergencyAlerts.alertDateFormat("F d, Y h:i A",o.pubDate)%}</div>
				{% } %}
				<div id="alert-title" class="alert__title"><!-- oualerts-notify-title -->
					
					{%=o.title%}
				</div>
				{% if (o.subtitle) { %}
				<p class="oualerts-notify-subtitle"><strong>{%=o.subtitle %}</strong></p>
				{% } %}
				{% if (o.description) { %}
				<div class="alert__description"><!-- oualerts-notify-msg -->
					{%=o.description %}
				</div>
				{% } %}
			</div>
			{% if (o.guid) { %}
			<a href="{%=o.guid %}" class="alert__cta alert_red">Learn More</a><!-- oualerts-notify-link -->
			{% } %}
		</div>
	</div>
</div>

</script>

	<script type="text/template" id="oualerts-active-emergency">
<div id="oualerts-active-alert-display" role="region" aria-labelledby="alert-title" class="alert alert--major oualerts-top oualerts-top-fixed ouAlertsFadeInDown oualerts-animated-fast"><!--  oualerts-notify oualerts-notify-emergency -->
	<div class="alert__wrapper"><!-- oualerts-notify-body -->
		<button class="alert__close" id="oualerts-close-button"><span class="visually-hidden">close alert</span></button><!-- oualerts-close-button Close -->
		<div class="alert__content">
			<div class="alert__message">
				{% if (o.showDate) { %}
				<div class="oualerts-notify-date">{%=ouEmergencyAlerts.alertDateFormat("F d, Y h:i A",o.pubDate)%}</div>
				{% } %}
				<div id="alert-title" class="alert__title"><!-- oualerts-notify-title -->
					
					{%=o.title%}
				</div>
				{% if (o.subtitle) { %}
				<p class="oualerts-notify-subtitle"><strong>{%=o.subtitle %}</strong></p>
				{% } %}
				{% if (o.description) { %}
				<div class="alert__description"><!-- oualerts-notify-msg -->
					{%=o.description %}
				</div>
				{% } %}
			</div>
			{% if (o.guid) { %}
			<a href="{%=o.guid %}" class="alert__cta alert_red">Learn More</a><!-- oualerts-notify-link -->
			{% } %}
		</div>
	</div>
</div>

</script>
	<script type="text/template" id="oualerts-archived-template">
{% if (o[0].htmlHeading) { %}
<h2 class="oualerts-archive-main-heading">{%=o[0].htmlHeading %}</h2>
{% } %}
<ul class="oualerts-achive-list">
	{% for (var i=0; o.length > i; i++) { %}
	<li class="oualerts-achive-list-item oualerts-archive-type-{%=o[i].severity%}">
		<div class="oualerts-achive-list-item-inner">
			<h3 class="oualerts-archive-title">{%=o[i].title%}</h3>
			<div class="oualerts-archive-date">{%=ouEmergencyAlerts.alertDateFormat("F d, Y h:i A",o[i].pubDate)%}</div>
			{% if (o[i].subtitle) { %}
			<p class="oualerts-archive-subtitle"><strong>{%=o[i].subtitle %}</strong></p>
			{% } %}
			{% if (o[i].description) { %}
			<p class="oualerts-archive-msg">{%=o[i].description %}
				{% } %}
				{% if (o[i].guid) { %}
				<a href="{%=o[i].guid %}" class="oualerts-archive-link">{%=ouEmergencyAlerts[o[i].severity + "Archive"].readMoreText%}</a>
				{% } %}
				{% if (o[i].description) { %}
			</p>
			{% } %}
			{% if (o[i].updates) { %}
			<h4 class="oualerts-archive-list-update-header">{%=ouEmergencyAlerts[o[i].severity + "Archive"].updateText %}</h4>
			<ul class="oualerts-achive-list-update">
				{% for (var k=0; o[i].updates.length > k; k++) { %}
				<li class="oualerts-achive-list-item-update">
					<div class="oualerts-achive-list-item-update-inner">
						<h5 class="oualerts-archive-title-update">{%=o[i].updates[k].title%}</h5>
						<div class="oualerts-archive-date-update">{%=ouEmergencyAlerts.alertDateFormat("F d, Y h:i A",o[i].updates[k].pubDate)%}</div>
						{% if (o[i].updates[k].subtitle) { %}
						<p class="oualerts-archive-subtitle-update"><strong>{%=o[i].updates[k].subtitle %}</strong></p>
						{% } %}
						{% if (o[i].updates[k].description) { %}
						<p class="oualerts-archive-msg-update">{%=o[i].updates[k].description %}
							{% } %}
							{% if (o[i].updates[k].guid) { %}
							<a href="{%=o[i].updates[k].guid %}" class="oualerts-archive-link-update">{%=ouEmergencyAlerts[o[i].severity + "Archive"].readMoreText%}</a>
							{% } %}
							{% if (o[i].updates[k].description) { %}
						</p>
						{% } %}
					</div>
				</li>
				{% } %}
			</ul>
			{% } %}
		</div>
	</li>
	{% } %}
</ul>
</script>
	<!-- OU Search Ignore End Here --><!-- OU Search Ignore Start Here -->
	<script src="researchservicescatalog2_files/local.js"></script>
	<!-- OU Search Ignore End Here --><!-- OU Search Ignore Start Here --><!-- OU Search Ignore End Here --><!-- OU Search Ignore Start Here --><!-- OU Search Ignore End Here -->
	<div id="ou-hidden" style="display:none;"></div>
	<script>
		if (document.getElementById("de") != null && document.getElementById("directedit")) {
			var link = document.getElementById("de").parentNode.innerHTML;
			document.getElementById("de").parentNode.innerHTML = "";
			document.getElementById("directedit").innerHTML = link.replace(/^\s+|\s+$/gm, '');
		}
	</script>
	<script src="researchservicescatalog2_files/isotope.pkgd.min.js"></script>
	<script src="researchservicescatalog2_files/isotope.js"></script>
	<script>
		// filter functions
		var filterFns = {
			// show if number is greater than 50
			numberGreaterThan50: function () {
				var number = $(this).find('.number').text();
				return parseInt(number, 10) > 50;
			},
			// show if name ends with -ium
			ium: function () {
				var name = $(this).find('.name').text();
				return name.match(/ium$/);
			}
		};
		// bind filter on select change
		$('.filters-select').on('change', function () {
			// get filter value from option value
			var filterValue = this.value;
			// use filterFn if matches value
			filterValue = filterFns[filterValue] || filterValue;
			$grid.isotope({ filter: filterValue });
		});
	</script>
	<script type="text/javascript" id=""
		charset="">(function (a, e, b, f, g, c, d) { a[b] = a[b] || function () { (a[b].q = a[b].q || []).push(arguments) }; c = e.createElement(f); c.async = 1; c.src = "https://www.clarity.ms/tag/" + g + "?ref\x3dgtm2"; d = e.getElementsByTagName(f)[0]; d.parentNode.insertBefore(c, d) })(window, document, "clarity", "script", "djf35rrbni");</script>
</body>

</html>